#banner__argentina__programa {
  background: linear-gradient(220.55deg, #8FFF85 0%, #39A0FF 100%);
  max-width: 100%;
  max-height: 100%;
}

.texto__del__banner {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  transform: translateY(19.5px);
}

.redes__sociales {
  font-size: 1.5rem;
  padding: 0.25em;
  transform: translateY(0.45em) translateX(12em);
}
